<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Happy New Year!</title>

</head>



<body style='margin : 0px; overflow: hidden;'>

  <a-scene embedded arjs="sourceType: webcam; debugUIEnabled: false; patternRatio: 0.7;" vr-mode-ui="enabled: false">
    

    <a-assets>
      <a-asset-item id="tree" src="${require(`./../../assets/tree.glb`)}"></a-asset-item>
    </a-assets>

      <a-marker type='pattern' url="${require(`./../../marker/pattern-marker.patt`)}">

        <a-entity light="type: ambient; color: #BBB"></a-entity>
        <a-entity light="type: hemisphere; color: #c8e9ff; groundColor: #000; intensity: 0.5"></a-entity>

        <a-entity gltf-model="#tree" scale="0.3 0.3 0.3" position="0 -0.1 0" particles add-lights gestures></a-entity>
        <!-- <a-entity text="value: Hello World; color: red; align: center; side: double;" scale="2 2 1" position="-2 2 -4"></a-entity> -->
        <a-text value="HAPPY NEW YEAR!" font="sourcecodepro" color="red" side="double" scale="2 2 1" position="0 3 0" letterSpacing="2" align="center"></a-text>
        <a-text value="(from Alex)" font="sourcecodepro" color="red" side="double" scale="1.5 1.5 1" position="2 2.5 0" letterSpacing="2" align="right"></a-text>
      </a-marker>

      <a-entity camera></a-entity>
  </a-scene>


</body>


</html>